* {
    box-sizing: border-box;
    outline: none;
    
}

html {
 
}

body {
    margin: 0;
    font-family:HelveticaNeueThin,Arial, Helvetica, sans-serif;
}

p,h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
}

a{
  text-decoration: none;
  color: inherit;  
}

input{
    border: none;
    -webkit-appearance: none;
    outline: 0px solid transparent;
} 

img {
    width: 100%;
}

