
/* COLOR PALLETE */
$primary-text-color: #000000;
$background-color: #de9200;
$background-secondary-color:#fafafa;
$card-background-color:#f9f4ea;


/* LAYOUT */
$layoutPadding: 80px;

/* LAYOUT-HOME */
$layoutPaddingHome: 150px;

/* LAYOUT-DETAILS */
$layoutPaddingDetails: 230px;
$layoutimgsheight:390px;
$layoutimgswidth:1120px;


/* LAYOUT BREAKPOINTS */
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 980px;



